@tailwind base;
@tailwind components;
@tailwind utilities;



.blueColor{
  background-color:#314f85;
}

.transparentColor {
  background-color: rgb(249, 249, 249,0.07)
}

.height{
  height: 49.8vh
}

.width {
  width : 25vw
}

.leftCenter {
  left: 25vw;
}

.rightCenter {
  right: 25vw;
}

.heightRect {
  height: 85vh;
}

.widthHeight{
  width: 80%;
}

.functionHeight{
  height: 60vh;
}

.paymentBackground{
  background-color: rgb(245, 250, 253);
}

.roundedBg{
  border-top-left-radius: 20%;
}


.imageWidth{
  max-width:100%!important ;
}

.imageHeight{
  max-height: 100%!important;
}
